@model List<ContatoModel>
@{
    ViewData["Title"] = "Gerenciador de Contatos";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start"> 
        <a class="btn btn-primary" role="button" asp-controller="GerenciarContatos" asp-action="CriarContato">Adicionar novo contato</a>
    </div>
    <br />

    <h1 class="display-4">Listagem de contatos</h1>
    <br />
    <h3>Gerencie seus contatos utilizando a tabela abaixo</h3>

    <table class="table table-striped" class="table table-bordered" class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Telefone</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

                @if (Model != null && Model.Any())
                {
                    foreach (ContatoModel info in Model)
                    {
                    <tr>
                    <th scope="row">@info.Id</th>
                        <td>@info.Name</td>
                        <td>@info.Email</td>
                        <td>@info.Celular</td>
                        <td>
                        <div>
                            <a role="button" class="btn btn-primary" asp-route-id="@info.Id" asp-controller="GerenciarContatos" asp-action="EditarContato">Editar</a>
                            <a role="button" class="btn btn-danger" asp-route-id="@info.Id" asp-controller="GerenciarContatos" asp-action="DeletarContatoConfirm">Deletar</a>
                        </div>
                        </td>
           
                    </tr>
                    }
                }

        </tbody>
    </table>
    
</div>

